﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bessenveldstraat 19<br />
    1831 Diegem<br />
    <abbr title="Phone">P:</abbr>
    02/708.11.11
</address>