﻿@model TestWebApp.Models.BankAccount

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div class="form-horizontal">
    <h4>BankAccount</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Owner, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Owner, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Amount</label>
        <div class="col-md-10">
            <input id="amount" type="text" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button id="debit" class="btn btn-default">Debit</button>
            <button id="deposit" class="btn btn-default">Deposit</button>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#debit")
                .click(function () {
                    var id = $('input#Id').val();
                    var amount = $('input#amount').val();

                    $.ajax({
                        url: "@Url.Action("Debit")",
                        data: { 'id': id, 'amount': amount },
                        type: "post",
                        cache: false,
                        success: function () {
                            var url = "@Url.Action("Details", new {id = "__id__"})";
                            window.location.href = url.replace('__id__', id);
                        }
                    });
                });

            $("#deposit")
                .click(function () {
                    var id = $('input#Id').val();
                    var amount = $('input#amount').val();

                    $.ajax({
                        url: "@Url.Action("Deposit")",
                        data: { 'id': id, 'amount': amount },
                        type: "post",
                        cache: false,
                        success: function () {
                            var url = "@Url.Action("Details", new {id = "__id__"})";
                            window.location.href = url.replace('__id__', id);
                        }
                    });
                });
        });
    </script>
}